/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(97, 134, 133);
}

.home-title {
  margin-top: 25vh;
}

/* title styles */
.home-title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #36486b;
  animation: a-ltr-after 1.4s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.home-title span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
  animation-delay: 0.5s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after {
  animation-delay: 1s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

/* BUTTON */

.btnText {
  display: inline-block;
  position: relative;
  overflow: hidden;
  /* background: #3f3030; */
  color: #3f3030;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.8rem;
  cursor: pointer;
}

.btnText:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #b2b2b2;
  content: "";
  transform: rotate(90deg) translate(-50%, -100%);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.btnText:hover:before {
  transform: rotate(0) translate(0);
}

.btnText:after {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background: #36486b;
  border: #3f3030 solid 1px;
  color: #3f3030;
  content: "Click!";
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
}

@media only screen and (max-width: 550px) {
  .btnText {
      /* font-size: 12px; */
      margin-bottom: 10px;
  }
}

@media only screen and (max-width: 350px) {
.btnText {
    /* font-size: 8px; */
}
}